In [1]:
# Import libraries

import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

In [2]:
# Confirm file location

file_path = "../01_data/raw/uci_credit_card_default.xlsx"
df = pd.read_excel(file_path, header=1)

df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
# Validation check

df.shape

(30000, 25)

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [6]:
df.tail()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
29995,29996,220000,1,3,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [7]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6',
       'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month'],
      dtype='str')

In [8]:
# Check for missing values

df.isna().sum().sort_values(ascending=False).head(10)

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
dtype: int64

In [9]:
# Clean column names

df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(" ", "_")
)

df.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6',
       'bill_amt1', 'bill_amt2', 'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1', 'pay_amt2',
       'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default_payment_next_month'],
      dtype='str')

In [10]:
# Rename key columns to friendly names

df = df.rename(columns={
    "limit_bal": "credit_limit",
    "sex": "gender",
    "education": "education_level",
    "marriage": "marital_status",
    "default_payment_next_month": "default"
})

df.head()

,id,credit_limit,gender,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Initial Data Observations

- Dataset contains 30,000 customer records with credit card usage behavior and demographic attributes such as education, gender, age, and marital status.
- Six months of payment and bill history provide sufficient historical context for trend analysis.

## Columns Key
- Default payment (1 = Yes, 0 = No).
- Gender (1 = male, 2 = female).
- Education level (1 = graduate school; 2 = university; 3 = high school; 4 = others).
- Marital status (1 = married; 2 = single; 3 = others).
- Monthly payments (-1 = paid on time, 0 = payment made but not fully on time, 1 = one month delay, 2 = two months delay... 9 = nine months delay...etc.).

In [11]:
# Create working copy of the data

df_fe = df.copy()

In [12]:
# Create bill amount features

bill_cols = [col for col in df_fe.columns if col.startswith("bill_amt")]
pay_cols = [col for col in df_fe.columns if col.startswith("pay_amt")]

df_fe["avg_bill_amt"] = df_fe[bill_cols].mean(axis=1)
df_fe["max_bill_amt"] = df_fe[bill_cols].max(axis=1)

df_fe["avg_payment_amt"] = df_fe[pay_cols].mean(axis=1)

In [13]:
# Payment behavior

df_fe["payment_ratio"] = df_fe["avg_payment_amt"] / df_fe["avg_bill_amt"]
df_fe["payment_ratio"] = df_fe["payment_ratio"].replace([np.inf, -np.inf], np.nan)

In [14]:
# Utilization

df_fe["utilization_proxy"] = df_fe["avg_bill_amt"] / df_fe["credit_limit"]

In [15]:
# Engagement score

df_fe["engagement_score"] = (
    df_fe["payment_ratio"].fillna(0) * 0.4 +
    (1 - df_fe["utilization_proxy"].clip(0, 1)) * 0.4 +
    (df_fe["avg_bill_amt"] / df_fe["avg_bill_amt"].max()) * 0.2
)

In [16]:
# Risk profiling

df_fe["risk_flag"] = df_fe["default"].map({0: "Low Risk", 1: "High Risk"})

In [17]:
# Validation check

df_fe[
    ["avg_bill_amt", "payment_ratio", "utilization_proxy", "engagement_score"]
].describe()

        avg_bill_amt  payment_ratio  utilization_proxy  engagement_score
count   30000.000000   29130.000000       30000.000000      30000.000000
mean    44976.945200       0.392318           0.373048          0.414522
std     63260.721860       7.784430           0.351890          3.076135
min    -56043.166667    -546.928571          -0.232590       -218.371429
25%      4781.333333       0.042188           0.029997          0.169791
50%     21051.833333       0.092133           0.284834          0.343285
75%     57104.416667       0.615363           0.687929          0.610707
max    877313.833333     797.000000           5.364308        319.199981

In [18]:
# Clean bill amounts 
# Bill amounts should not be negative for analysis

df_fe["avg_bill_amt"] = df_fe["avg_bill_amt"].clip(lower=0)

In [19]:
# Clean utilization proxy

df_fe["utilization_proxy"] = df_fe["utilization_proxy"].clip(lower=0, upper=1.5)

In [20]:
# Clean payment ratio

df_fe["payment_ratio"] = df_fe["payment_ratio"].clip(lower=0, upper=3)

In [21]:
# Recalculate engagement score

df_fe["engagement_score"] = (
    df_fe["payment_ratio"].fillna(0) * 0.4 +
    (1 - df_fe["utilization_proxy"]) * 0.4 +
    (df_fe["avg_bill_amt"] / df_fe["avg_bill_amt"].max()) * 0.2
)

In [22]:
# Validation check

df_fe[
    ["avg_bill_amt", "payment_ratio", "utilization_proxy", "engagement_score"]
].describe()

        avg_bill_amt  payment_ratio  utilization_proxy  engagement_score
count   30000.000000   29130.000000       30000.000000      30000.000000
mean    44988.473250       0.367498           0.372429          0.404021
std     63250.754221       0.506749           0.348053          0.293481
min         0.000000       0.000000           0.000000         -0.191666
25%      4781.333333       0.042188           0.029997          0.171575
50%     21051.833333       0.092133           0.284834          0.346007
75%     57104.416667       0.615363           0.687929          0.610707
max    877313.833333       3.000000           1.500000          1.599992

## Feature Summary

Behavioral and engagement features were developed from raw billing and payment history, key features include:
- Average billing and payment amounts.
- Payment behavior (payment ratio).
- Credit utilization proxy.
- Engagement score.
- Credit risk flag. 

## Fixes
- Negative bill amounts were clipped to zero in order to minimize distortions in utilization & engagement metrics.
- Utilization proxy were clipped to remove extreme noise. With a lower limit of 0 (utilization cannot be negative) and upper limit of 1.5 (allow for realistic over-limit behavior).
- Payment ratio were clipped to minimize noise, as a negative value would be meaningless.
- Recalculate engagement score based on cleaned fields.

In [24]:
# Save processed dataset

output_path = "../01_data/processed/credit_card_features.csv"
df_fe.to_csv(output_path, index=False)